:root {
  --accounts-container-width: 1550px;
  --accounts-container-top: calc(var(--top-menu-height) + 40px); 
  --accounts-container-left: calc(var(--left-menu-width) + 40px); 
}

.loginform {
  margin-top: 200px;
}

.accounts-container {
  margin-top: var(--accounts-container-top);
  margin-left: var(--accounts-container-left);
  width: var(--accounts-container-width);
}

.accounts-header {
  width: 900px;
  height: 40px;
}

.accounts-table {
  width: 900px !important;
}






