.kvkk-content {
  margin: 70px 10px 0px 40px;
  width: 95%;
}

.kvkk-content-kv {
  margin: 70px 20px 10px 20px;
  padding: 20px;
  width: 90%;
}


.notify {
  width: 50%;
  height: 50%;
  background: url("/src/img/notify.png");
}

/* elementleri tek sırada göstermek için */
/* .container {
  display:flex;
  flex-direction: row;
} */

