.kvkk-content {
  margin: 100px 10px 0px 40px;
  width: 95%;
  max-width: 95%;
  display: inline-block;
}

.notify {
  width: 50%;
  height: 50%;
  background: url("/src/img/notify.png");
}

/* elementleri tek sırada göstermek için */
/* .container {
  display:flex;
  flex-direction: row;
} */

