.kvkk-content {
  margin: 70px 10% 0px 10%;
  padding: 20px;
  width: 800px;
}

.notify {
  width: 50%;
  height: 50%;
  background: url("/src/img/notify.png");
}

/* elementleri tek sırada göstermek için */
/* .container {
  display:flex;
  flex-direction: row;
} */

