
.headercell {
  width: 10% !important;
  background: #F0F0F0 !important;
  text-align: center !important;
}

.input {
  width: 100% !important;
  text-align: center !important;
}


.icon-button {
  width: 10px !important;
  height: 10px !important;
}

.segment-form {
  width: 800px;
}
.message-successfull {
  width: 785px !important;
  color: #fff !important;
  background-color: #7ABE3B !important;
}

.message-error {
  width: 785px !important;
  color: #fff !important;
  background-color: #FA2C40 !important;
}


